<!DOCTYPE html>
<style>
a:link {
    color: #0000B2;
}
a:visited {
    color: #0000B2;
}
a:active {
    color: #0000B2;
}
a:hover {
    background-color: transparent;
}
</style>
<html lang="en">
    
<body>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <strong><h2>Welcome to the Byrne Lab Pollen Database</h2></strong>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <font color="black"><h3>Avaliable Tools</h3></font>
                    <p class="lead">Our website provides functionality for viewing and sorting pollen images. Use the <a href="/index_entries">Index Page</a> to view pollen images grouped by Latin name. You may use the <a href="/search/simple">Taxonomic Search</a> to access a listing of specific images filtered by choice of Latin name, family, or common name. The <a href="/search/advanced">Geographic Search</a> allows searches based on location, region, and age. The entire database is also avaliable for viewing through the <a href="/pollen_images">Image Database page</a>.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <font color="black"><h3 class="section-heading">Contact Information</h3></font>
                    <p class="lead">Interested in adding your own pollen images to the database? Please contact the Byrne Lab at University of California, Berkeley.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    </div>
    <!-- /.banner -->
</body>

</html>
