<!DOCTYPE html>
<style>
a:link {
    color: #0000B2;
}
a:visited {
    color: #0000B2;
}
a:active {
    color: #0000B2;
}
a:hover {
    background-color: transparent;
}
body {
    font-size: 164%;
    background-image: url("/backgrounds/Stiff-Paper.png");
}
</style>
<html lang="en">
    
<body>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <strong><h2>Welcome to the Byrne Lab Pollen Image Database</h2></strong>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                      <li>See the <a href="/index_entries">Index Page</a> to browse pollen images grouped by Latin name</li>
                      <br>
                      <li>Use the <a href="/search/simple">Taxonomic Search</a> to search for pollen images by scientific name, family, or common name</li>
                      <br>
                      <li>Use the <a href="/search/advanced">Geographic Search</a> to search for pollen images based on location, region, or age</li>
                      <br>
                      <li>The entire database is avaliable for viewing through the <a href="/pollen_images">Image Database page</a></li>
                </div>
            
            </div>
        

        </div>
        <!-- /.container -->
    

    </div>
</body>


</html>
